<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxb.mapper.BookMapper">
<insert id="add" parameterType="com.cxb.entity.Book"  >
    INSERT INTO book (name,author) values (#{name},#{author})
</insert>

<delete id="delete" parameterType="int">
    delete from book where id =  #{id}
</delete>

<update id="update" parameterType="com.cxb.entity.Book">
    update book set  name= #{name} ,author = #{author} where id =#{id}
</update>

<select id="findAll" resultType="com.cxb.entity.Book" >
    select * from book
</select>

<select id="findById" parameterType="int" resultType="com.cxb.entity.Book">

    select * from book where id =#{id}
</select>


</mapper>
